{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Mon titre{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/app.css">
{% endblock %}


{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}

<div class="container text-center">
    <h1>Mon super titre H1</h1>
    <h2>Mon second titre</h2>
    <form class="form-horizontal" action="/myform" method="post" >
        <div class="form-outline mb-4">
            <label class="control-label" for="email">Email:</label>
            <div>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            </div>
        </div>
        <div class="form-outline mb-4">
            <label class="control-label " for="email">Name:</label>
            <div>
                <input type="text" class="form-control" name="name">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
